streamlit==1.51.0
PyMuPDF==1.24.9
openai==1.82.0
torchvision
supabase==2.9.1
python-dotenv==1.0.1
ollama
hf_xet
ftfy
pypdf
pillow
accelerate
transformers
HTMLParser
pandas
plotly
outlines
google.genai
langchain-ollama
ultralytics
opencv-contrib-python
accelerate
gradio==5.23.2
json-repair
litellm
httpx
loguru
mdpd
numpy
pandas
PyMuPDF
python-dotenv
python-levenshtein==0.27.1
requests
setuptools
tabulate
tenacity
types-requests
pdf2image
pytesseract
sentencepiece
olmocr==0.3.4